{# @var c \App\Containers\Container #}
<li>
  <span>
    {% if c.GetStartingState().value == 'starting' %}
      <span class="status running"></span>
      {{ c.displayName }}
      (<a href="api/docker/logs?id={{ c.identifier }}" target="_blank">Starting</a>)
    {% elseif c.GetRunningState().value == 'running' %}
      <span class="status success"></span>
      {{ c.displayName }}
      (<a href="api/docker/logs?id={{ c.identifier }}" target="_blank">Running</a>)
    {% else %}
      <span class="status error"></span>
      {{ c.displayName }}
      (<a href="api/docker/logs?id={{ c.identifier }}" target="_blank">Stopped</a>)
    {% endif %}
    {% if c.documentation != '' %}
      (<a target="_blank" href="{{ c.documentation }}">docs</a>)
    {% endif %}
    {% if c.GetUpdateState().value == 'different' %}
      ⚠️&nbsp;Update&nbsp;available
    {% endif %}
  </span>
  {% if c.GetUiSecret() != '' %}
    <details>
      <summary>Show password for {{ c.displayName }}</summary>
      <input type="text" value="{{ c.GetUiSecret() }}" readonly>
    </details>
  {% endif %}
</li>