<h2>Community Containers</h2>
<p>In this section you can enable or disable optional Community Containers that are not included by default in the main installation. These containers are provided by the community and can be useful for various purposes.</p>
<p><strong>Caution: </strong>Community Containers are not officially component and it maintained by the community. Some containers may not be compatible with your system, may not work as expected or may discontinue. Use them at your own risk.</p>
<details>
    <summary>Show/Hide available Community Containers</summary>
    {% if isAnyRunning == true %}
        <p><strong>Please note:</strong> You can enable or disable the options below only when your containers are stopped.</p>
    {% else %}
        <p><strong>Please note:</strong> Make sure to save your changes by clicking <strong>Save changes</strong> below the list of Community Containers. The changes will not be auto-saved.</p>
    {% endif %}
    <form id="cc-form" method="POST" action="/api/configuration" class="xhr options-form">
        <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
        <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
        <input type="hidden" name="cc-form" value="cc-form">
        {% for cc in community_containers %}
            <p>
                <input
                    type="checkbox"
                    id="enabled-cc[]"
                    value="{{ cc.id }}"
                    name="{{ cc.id }}"
                    {% if cc.id in community_containers_enabled %}
                        checked="checked"
                        data-initial-state="true"
                    {% else %}
                        data-initial-state="false"
                    {% endif %}
                    {% if isAnyRunning == true %}
                        disabled="disabled"
                    {% endif %}
                >
                <label for="{{ cc.id }}">{{ cc.name }} <a href="{{ cc.documentation }}" target="_blank">(Documentation)</a></label>
            </p>
        {% endfor %}

        <input id="cc-form-submit" class="options-form-submit" type="submit" value="Save changes" />
    </form>
</details>
