<h2>Optional containers</h2>
<p>In this section you can enable or disable optional containers.</p>
{% if isAnyRunning == true %}
    <p><strong>Please note:</strong> You can enable or disable the options below only when your containers are stopped.</p>
{% else %}
    <p><strong>Please note:</strong> Make sure to save your changes by clicking <strong>Save changes</strong> below the list of optional containers. The changes will not be auto-saved.</p>
{% endif %}
<form id="options-form" method="POST" action="/api/configuration" class="xhr">
    <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
    <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
    <input type="hidden" name="options-form" value="options-form">
    <p>
        <input
            type="checkbox"
            id="clamav"
            name="clamav"
            {% if is_clamav_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="clamav">ClamAV (Antivirus backend for Nextcloud, needs ~1GB additional RAM)</label>
    </p>
    <p>
        <input
            type="checkbox"
            id="collabora"
            name="collabora"
            {% if is_collabora_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="collabora">Collabora (Nextcloud Office)</label>
    </p>
    <p>
        <input
            type="checkbox"
            id="fulltextsearch"
            name="fulltextsearch"
            {% if is_fulltextsearch_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="fulltextsearch">
            Fulltextsearch (needs ~1GB additional RAM, <a target="_blank" href="https://github.com/nextcloud/all-in-one/discussions/5768">does not work on Kernels without Seccomp</a>)
            {% if is_fulltextsearch_enabled == false %}
                . <strong>Please note:</strong> the initial indexing can take a long time during which Nextcloud will be unavailable
            {% endif %}
        </label>
    </p>
    <p>
        <input
            type="checkbox"
            id="imaginary"
            name="imaginary"
            {% if is_imaginary_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="imaginary">Imaginary (for previews of heic, heif, illustrator, pdf, svg, tiff and webp. Imaginary is currently <a target="_blank" href="https://github.com/nextcloud/server/issues/34262">incompatible with server-side-encryption</a>)</label>
    </p>
    <p>
        <input
            type="checkbox"
            id="talk"
            name="talk"
            {% if is_talk_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="talk">Nextcloud Talk (needs ports {{ talk_port }}/TCP and {{ talk_port }}/UDP open/forwarded in your firewall/router)</label>
    </p>
    <p>
        <input
            type="checkbox"
            id="talk-recording"
            name="talk-recording"
            {% if is_talk_recording_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="talk-recording">Nextcloud Talk Recording-server (needs Nextcloud Talk being enabled and ~1GB additional RAM and ~2 additional vCPUs, currently <a target="_blank" href="https://github.com/nextcloud/nextcloud-talk-recording/issues/17">only works on x86_64</a>)</label>
    </p>
    {% if is_onlyoffice_enabled == true %}
    <p>
        <input
            type="checkbox"
            id="onlyoffice"
            name="onlyoffice"
            {% if is_onlyoffice_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="onlyoffice">OnlyOffice</label>
    </p>
    {% endif %}
    <p>
        <input
            type="checkbox"
            id="docker-socket-proxy"
            name="docker-socket-proxy"
            {% if is_docker_socket_proxy_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="docker-socket-proxy">Docker Socket Proxy (needed for <a target="_blank" href="https://github.com/cloud-py-api/app_api#nextcloud-appapi">Nextcloud App API</a>)</label>
    </p>
    <p>
        <input
            type="checkbox"
            id="whiteboard"
            name="whiteboard"
            {% if is_whiteboard_enabled == true %}
                checked="checked"
                data-initial-state="true"
            {% else %}
                data-initial-state="false"
            {% endif %}
        >
        <label for="whiteboard">Whiteboard</label>
    </p>
    <input id="options-form-submit" type="submit" value="Save changes" />
</form>
<p><strong>Minimal system requirements:</strong> When any optional container is enabled, at least 2GB RAM, a dual-core CPU and 40GB system storage are required. When enabling ClamAV,  Nextcloud Talk Recording-server or Fulltextsearch, at least 3GB RAM are required. For Talk Recording-server additional 2 vCPUs are required. When enabling everything, at least 5GB RAM and a quad-core CPU are required. Recommended are at least 1GB more RAM than the minimal requirement. For further advice and recommendations see <strong><a target="_blank" href="https://github.com/nextcloud/all-in-one/discussions/1335">this documentation</a></strong></p>
{% if isAnyRunning == true %}
    <script type="text/javascript" src="disable-clamav.js"></script>
    <script type="text/javascript" src="disable-docker-socket-proxy.js"></script>
    <script type="text/javascript" src="disable-talk.js"></script>
    <script type="text/javascript" src="disable-collabora.js"></script>
    <script type="text/javascript" src="disable-onlyoffice.js"></script>
    <script type="text/javascript" src="disable-imaginary.js"></script>
    <script type="text/javascript" src="disable-fulltextsearch.js"></script>
    <script type="text/javascript" src="disable-talk-recording.js"></script>
    <script type="text/javascript" src="disable-whiteboard.js"></script>
{% endif %}

{% if is_collabora_enabled == true and isAnyRunning == false and was_start_button_clicked == true %}
    <h3>Collabora dictionaries</h3>

    {% if collabora_dictionaries == "" %}
        <p>In order to get the correct dictionaries in Collabora, you may configure the dictionaries below:</p>
        <form method="POST" action="/api/configuration" class="xhr">
            <input type="text" name="collabora_dictionaries" placeholder="de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru" />
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <input type="submit" value="Submit collabora dictionaries" />
        </form>
        <p>You need to make sure that the dictionaries that you enter are valid. An example is <strong>de_DE en_GB en_US es_ES fr_FR it nl pt_BR pt_PT ru</strong>.</p>
    {% else %}
        <p>The dictionaries for Collabora are currently set to <strong>{{ collabora_dictionaries }}</strong>. You can reset them again by clicking on the button below.</p>
        <form method="POST" action="/api/configuration" class="xhr">
            <input type="hidden" name="delete_collabora_dictionaries" value="yes"/>
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <input type="submit" value="Reset collabora dictionaries" />
        </form>
    {% endif %}

    <h3>Additional Collabora options</h3>

    {% if collabora_additional_options == "" %}
        <p>You can configure additional options for collabora below.</p>
        <p>(This can be used for configuring the net.content_security_policy and more. Make sure to submit the value!)</p>
        <form method="POST" action="/api/configuration" class="xhr">
            <input type="text" name="collabora_additional_options" />
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <input type="submit" value="Submit additional collabora options" />
        </form>
        <p>You need to make sure that the options that you enter are valid. An example is <strong>--o:net.content_security_policy=frame-ancestors *.example.com:*;</strong>.</p>
    {% else %}
        <p>The additioinal options for Collabora are currently set to <strong>{{ collabora_additional_options }}</strong>. You can reset them again by clicking on the button below.</p>
        <form method="POST" action="/api/configuration" class="xhr">
            <input type="hidden" name="delete_collabora_additional_options" value="yes"/>
            <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
            <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
            <input type="submit" value="Reset additional collabora options" />
        </form>
    {% endif %}
{% endif %}
